body {
  font-family:'Courier New', Courier, monospace;
  background-image:url("../img/falling-lettuce.jpg");
  font-size:x-large;
  font-weight: 550;
}

#header, h3 {
  text-align: center;
}
.container {
  border: 3px solid #000;
  background-color: rgba(245, 245, 220, 0.746);
}
.col-md-6 {
  margin-top: 5%;
  border: 1px solid #000;
  height: 300px;
}

button#another {
  display: none;
}
